html, body {
    font-family: "bilo", sans-serif !important;
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    background-color: #EFEFEF;
}

nav {
    background-color: #EFEFEF;
}

h1 {
    font-family: "scrivano", serif;
    font-weight: bold;
    font-style: normal;
    font-size: 30px;
    color: #800020;
}
h2 {
    font-family: "scrivano", serif;
    font-weight: bold;
    font-style: normal;
    color: #FFFFFF;
}

.btn {
    color: #000631;
    font-size: 22px;
}
.btn-primary {
    color: #fff;
    background-color: #800020;
    border: 0;
    border-radius: 5px;
}
.btn-primary:hover {
    color: #fff;
    background-color: #800020;
}
.btn-secondary {
    color: white;
    background-color: #000631;
}
.btn-secondary:hover {
    background-color: #800020;
}
.link:not(.link:first-child) {
    margin-left: 20px;
}
.logo {
    width: 10%;
}

.gradient-gold {
    background: -webkit-linear-gradient(
        90deg,
        #f9f295 0%,
        #e0aa3e 33.51%,
        #faf398 66.67%,
        #b88a44 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.overlay-event {
    position: absolute;
    width: 100%;
    height: 100%;
}

.overlay-event .bg {
    opacity: 0;
    background-color: #000;
    transition: all .3s ease-in-out;
}
.overlay-event:hover .bg {
    opacity: 0.4;
    transition: all .3s ease-in-out;
}
.overlay-event .title-img {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 20px;
    font-size: 40px;
    transition: font-size .3s ease-in-out;
}
.overlay-event:hover .title-img {
    font-size: 46px;
    transition: font-size .3s ease-in-out;
}
.overlay-event .arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 25px;
    transition: transform .3s ease-in-out;
}
.overlay-event:hover .arrow {
    transform: rotate(-180deg);
    transition: transform .3s ease-in-out;
}
footer {
    background-color: #E9E9E9;
}
.footer-nav {
    color: #800020;
    font-size: 20px;
}
footer .logo {
    width:20%;
}
