html {
    font-family: "bilo", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("../images/papier.png");
    background-repeat: no-repeat;
    background-size: cover;
}
h1 {
    font-family: "scrivano", serif;
    font-weight: 700;
    font-style: normal;
}
.logo {
    width: 50px;
}

.gradient-gold {
    background: -webkit-linear-gradient(
        90deg,
        #f9f295 0%,
        #e0aa3e 33.51%,
        #faf398 66.67%,
        #b88a44 100%
    );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
